NEXT_PUBLIC_FB_API_KEY=
NEXT_PUBLIC_FB_AUTH_DOMAIN=triolingos.firebaseapp.com
NEXT_PUBLIC_FB_PROJECT_ID=triolingos
NEXT_PUBLIC_FB_STORAGE_BUCKET=triolingos.appspot.com
NEXT_PUBLIC_FB_APP_ID=
NEXT_PUBLIC_LIVEKIT_URL=wss://livekit.nknet-consulting.com
NEXT_PUBLIC_AUDIO_CDN=https://firebasestorage.googleapis.com/v0/b/triolingos.appspot.com/o
