NEXT_PUBLIC_FB_API_KEY=
NEXT_PUBLIC_FB_AUTH_DOMAIN=triolingos-f6737.firebaseapp.com
NEXT_PUBLIC_FB_PROJECT_ID=triolingos-f6737
NEXT_PUBLIC_FB_STORAGE_BUCKET=triolingos-f6737.firebasestorage.app
NEXT_PUBLIC_FB_APP_ID=
NEXT_PUBLIC_LIVEKIT_URL=wss://livekit.bzr-savetnik.com
NEXT_PUBLIC_AUDIO_CDN=https://audio.bzr-savetnik.com
